/* Double Slider Animation Reference: https://www.freecodecamp.org/news/how-to-build-a-double-slider-sign-in-and-sign-up-form-6a5d03612a34/ */

* {
	box-sizing: border-box;
}

body {
	background: #f6f6f6;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 800px;
}

h1 {
	font-weight: 8px;
}

p {
	font-size: 16px;
	font-weight: 150;
}

a {
	color: #4a6572;
	font-size: 16px;
	padding: 15px;
}

button {
	border-radius: 10px;
	border: 1px solid #f9aa33;
	background-color: #f9aa33;
	color: #FFFFFF;
	font-size: 14px;
    font-weight: 600;
	padding: 14px 40px;
}

button:active {
	transform: scale(0.9);
}

button.transparentButton {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #f6f6f6;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.Box {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-Box {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-Box {
	left: 0;
	width: 50%;
	z-index: 2;
}

.Box.right-panel-active .sign-in-Box {
	transform: translateX(100%);
}

.sign-up-Box {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.Box.right-panel-active .sign-up-Box {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-Box {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.Box.right-panel-active .overlay-Box{
	transform: translateX(-100%);
}

.overlay {
	background: #344955;
	background: -webkit-linear-gradient(to right, #344955, #344955);
	background: linear-gradient(to right, #344955, #344955);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.Box.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.Box.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.Box.right-panel-active .overlay-right {
	transform: translateX(20%);
}
